@using Rapport.Client.Service
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>


    <main>
         <ReportNavLayout></ReportNavLayout>
        <article class="content px-4">
            @Body
        </article>
    </main>




</div>

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>



