
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Danline</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">

            <ul class="nav flex-column">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="index">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="templates">
                                  <span class="oi oi-home" aria-hidden="true"></span> Skabeloner
                    </NavLink>
                </li>
                <li class="nav-item dropdown dropdown-container">
                    <a class="nav-link dropdown-toggle" href="templates" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Skabeloner
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="reports">
                        <span class="oi oi-book" aria-hidden="true"></span> Rapporter
                    </NavLink>
                </li>
            </ul>
</div>

@code {
    bool collapseNavMenu = true;

    [Inject]
    private ITemplateService TemplateService { get; set; }

    [Inject]
    private NavigationManager NavigationManager { get; set; }

    private CreateTemplateDto createTemplate { get; set; } = new();
    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async void ValidSubmit()
    {
        var template = await TemplateService.CreateTemplate(createTemplate);
        NavigationManager?.NavigateTo($"template/{template.Id}");
    }
}