@page "/report/{id:int}"
<div>
    <EditForm Model="reportDto" OnValidSubmit="OnParametersSetAsync">
        <DataAnnotationsValidator/>
        <div>
            <h3>@(reportDto?.Title ?? "")</h3>
        </div>
    </EditForm>
</div>
   
