@page "/group/edit/{id:int}"

<div class="container">
    <EditForm EditContext="@EditContext" OnSubmit="OnInitializedAsync">
        <DataAnnotationsValidator/>
        <label>Gruppe titel</label>
        <div class="sign-validation">
           <ValidationInput class="edit-input form-control"
           placeholder ="Titel"
           @bind-Value="@Group.Titel"
           Error=@GetError(() => Group.Titel)>     
           </ValidationInput>
        </div>
        <div>
            <button class="edit-button" onclick="@Submit">Gem</button>
        </div>
    </EditForm>


</div>
