@page "/group/edit/{id:int}"

<div class="container">
    <EditForm Model="@Group" OnSubmit="OnInitializedAsync">
        <DataAnnotationsValidator/>
  <MudTextField Label="Titel" @bind-Value="@Group.Titel" For="(() => Group.Titel)"></MudTextField>
  <br /><br />
     <MudButton 
                @onclick="(() => Save())"
                Variant="Variant.Filled" 
                EndIcon="@Icons.Material.Filled.Save" 
                Color="Color.Primary">Gem</MudButton>
               <br /<br /><br />

    </EditForm>
           <MudButton @onclick="(() => Backbutton(Template.Id))">
        Tilbage
       </MudButton>
</div>
