@page "/index"
@using System.Security.Claims
<div class="align-content-center"> 
    <img src="~/img/danline_logo (1).png"/>
</div>

<link href="_content/BlazorPro.Spinkit/spinkit.min.css" rel="stylesheet" />

