@page "/index"
@using System.Security.Claims
<div class="align-content-center"> 
     <img src="/img/danline_logo.png" width="400px" height="400px" />
</div>

<link href="_content/BlazorPro.Spinkit/spinkit.min.css" rel="stylesheet" />

