@inherits ReportBase
@page "/report/preparation/{id:int}"

<div class="container">
   <div class="d-lg-grid welcome-text list-unstyled text-black">
       <label>@reportDto?.Title</label>
   </div>
</div>


