@page "/registre"
@using Rapport.Shared.Dto_er.User
@inject IAuthService AuthService

@attribute [Authorize(Roles = "admin")]

 <EditForm Model="@user" OnValidSubmit="@RegisterUser">
        <div>
            <br /><br /><br /><br /><br />
        </div>
        <div>
            <h3 style="font-weight:bold; color:cadetblue">Opret bruger</h3>
        </div>
        <div>
            <br />
        </div>
         <div class="col-12 row">
            <input class="form-control col-12" @bind-value="user.FullName" placeholder="Navn" />
        </div>
        <div class="col-12 row">
            <input class="form-control col-12" @bind-value="user.Email" placeholder="Email address" />
        </div>
        <br />
        <div class="col-12 row">
            <input type="password" class="form-control col-12" @bind="user.Password" placeholder="Password" />
        </div>
        <br />
        <div class="col-12 row">
            <input type="password" class="form-control col-12" @bind="user.ConfirmPassword" placeholder="Bekræft password" />
        </div>
        <br />
        <div class="col-12 row">
            <span class="col-12"></span>
            <input type="submit" class="form-control col-6 btn btn-primary" value="Sign up" />
        </div>
        <br />
        <div class="col-12 row" style="text-align:left; font-weight:bold">
            <span class="col-12">@LoginMesssage</span>
        </div>
    </EditForm>

   

@code {
    RegisterDto user = new();

    string message = string.Empty;
    string messageCssClass = string.Empty;

    async Task HandleRegistration()
    {
        var result = await AuthService.Register(user);

        if(result == null)
        {
            message = "Fik ikke lov til at registre bruger";
        }
        else
        {
            message = "bruger registreret";
        }

    }
}