@page "/reports"
@attribute [Authorize(Roles="Admin, User")]

<h3>Rapporter</h3>
<SpinLoader IsLoading="isLoading" Spinner="SpinnerType.Chase">
    <ContentTemplate>
<MudTable Items="reportList" Hover="true" Striped="true" Dense="true" Class="mb-2">
    <HeaderContent>
        <MudTh>Id</MudTh>
        <MudTh>Titel</MudTh>
        <MudTh>Dato</MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
        <MudTd DataLabel="Titel">@context.Title</MudTd>
        <MudTd DataLabel="Dato">@context.Date</MudTd>
        <MudTd DataLabel="Edit">
            <MudIconButton OnClick="(() => HandleValidSubmit(context.Id))"
                           Icon="@Icons.Material.Filled.Edit"
                           Color="Color.Primary"
                           Variant="Variant.Filled"></MudIconButton>
        </MudTd>
    </RowTemplate>
</MudTable>
    </ContentTemplate>
</SpinLoader>

