@page "/reports"



        <div class="container">
            <div class="info-form grid col-12">
                <h2 class="info-text">Rapporter</h2>
            </div>

            <div class="row">
                <table>
                    <thead>
                        <tr>
                            <th class="col-6 top-row border">Titel</th>
                            <th class="col-6 top-row border">Dato</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var report in reportList)
                        {
                            <tr>
                                
                                <td class="col-6 border">@(report.Title ?? "")</td>
                                <td class="col-6  border">@(report.RentalPeriodStart)</td>
                                <td class="col-6">
                                    <button class="btn btn-secondary" @onclick="(() => HandleValidSubmit(report.Id))"> vis</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

