@using Rapport.Shared.Dto_er.Template
@page "/templates"

 <h3 class="align-content-center">Skabeloner</h3>
      
<MudTable Items="TemplateList" Hover="true" Striped="true" Dense="true" Class="mb-2">
    <HeaderContent>
        <MudTh>Id</MudTh>
        <MudTh>Titel</MudTh>
        <MudTh>LayoutId</MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
        <MudTd DataLabel="Titel">@context.Title</MudTd>
        <MudTd DataLabel="LayoutId">@context.LayoutId</MudTd>
        <MudTd DataLabel="Edit">
            <MudIconButton OnClick="(() => ShowTemplate(context.Id))"
                           Icon="@Icons.Material.Filled.Edit"
                           Color="Color.Primary"
                           Variant="Variant.Filled"></MudIconButton>
        </MudTd>
    </RowTemplate>
</MudTable>

<MudButton @onclick="CreateEmptyTemplate">Opret ny skabelon</MudButton>



<p style="height:500px;"></p>
